
html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: $font-base-landingPage;

  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.container {
  width: 100%;
  max-width: 300px;
  padding: 0 10px;
  margin: 0 auto;
  @media #{$mediaPhone} {
    padding: 0 10px;
    max-width: 450px;
  }
  @media #{$mediaTablet} {
    padding: 0 20px;
    max-width: 700px;
  }
  @media #{$mediaDesktop} {
    max-width: 990px;
    padding: 0 25px;
  }
  @media #{$mediaBigScreen} {
    max-width: 1700px;
    padding: 0 30px;
  }
}

.navLink {
  text-decoration: none;
}

.loading {
  font-size: 3em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    span{
      font-size: 2em;
    }

  }

  input, textarea {
    width: 30em;
    border-radius: 0.25em;
    margin: 1em auto;
    text-align: center;
    line-height: 2em;
    font-family: $font-placeholders;
    border: none;
    box-shadow: 2px 2px 7px $shadowColor;

    &:focus {
      box-shadow: 10px 10px 20px $shadowColor;
    }

  }

  button {
    border: none;
    background: none;
    font-family: $font-placeholders;
    font-size: 1.5em;

    &:hover {
      font-weight: bolder;
      text-shadow: 1px 1px 5px $shadowColor;
    }
  }
}

.problems {
  font-family: $font-problems;
  color: $problemsColor;
}