body {
  font-family: $font-base-landingPage;

  #app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.container {
  max-width: 1352px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.navLink{
  text-decoration: none;
}

.loading{
  font-size: 3em;
  text-align: center;
}