.footer{
  font-family:$font-footer;
  box-shadow: 1px  1px 10px $shadowColor;
  position: absolute;
  bottom: 0;
  width: 100vw;
  .container{
    display: flex;
    justify-content: space-between;
    padding: 0;

    .contact{
      padding: 1.5em;
      a{
        &:focus{
          outline: none;
        }
        img{
          margin-right: 1em;
          max-width: 24px;
          height: auto;
        }
      }
      p{
        margin-bottom: 0.3em;
        font-size: 1.2em;
        color: $footerAccent;
      }
      .mail{
        display: flex;
        align-items: center;

        span{
          font-size: 0.75em;
          color: $footerAccent;
        }
      }
    }
  }

}

