header {
  position: relative;

  section {
    display: flex;
    align-items: center;
  }

  a {
    &:focus {
      outline: none;
    }
  }

  .title-link {
    flex: 6;

    .title {
      font-size: 4.5em;
      @include fontSizes(3em);
      @media #{$mediaBigScreen} {
        font-size: 7em;
      }
      margin: 0.5em;
      text-align: center;
      font-weight: bolder;
      color: $titleColor;
      text-transform: capitalize;
      text-shadow: 2px 2px $titleShadowColor;

      span {
        color: $titleAccentColor;
      }

    }
  }

  .fontIcon {
    margin: 0 0.85em;
    font-size: 1.2em;
    color: $titleBarsColor;
  }

  .log-or-register {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    @include fontSizes(1.5em);
    line-height: 1.2em;

    a, .hello {
      text-decoration: none;
      color: black;
      font-weight: bolder;

      &:hover {
        text-shadow: 2px 2px 5px $shadowColor;
      }
    }
  }

  .hello {
    font-size: 1.3em;
    line-height: 1.3em;
    white-space: pre;
  }

  .outLog {
    border: none;
    background: none;
    font-family: $font-base-landingPage;

    &:hover {
      font-weight: bolder;
    }
  }

  .logBoxAdded {
    position: absolute;
    right: 0;
    //bottom: 0;
    background: $logBoxBackground;
  }
}