.nav-bar {
  background-color:$backgroundNavColor;
  box-shadow: 10px 10px 70px ;

  .nav {
    display: flex;
    @media #{$mediaSmallPhone} {
      flex-direction: column;
    }
    justify-content: space-evenly;

    .ulCategory {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5em 0;
      @include fontSizes(3.5em);
      //font-size: 3.5em;
      font-weight: 500;

      &:hover{
        li{
          display: block;
        }
      }

      a{
        color: black;
        &:hover{
          font-weight: bolder;
          text-shadow: 2px 2px $shadowColor;
        }
        &:focus{
          outline: none;
        }
      }


      li{
        display: none;
        font-size: 0.5em;
        padding: 0.5em 0;
        &:focus{
          outline: none;
        }
      }

    }


    margin: 2em auto;
  }
}
