.recipes-title {
  @include fontSizes(6em);
  padding: 0.5em 0;
}

.category-name {
  @include fontSizes(3.5em);
  text-align: center;
  margin: 0.5em auto 2em auto;
  font-weight: bolder;
  color: $categoryNameColor;
}

.recipes {
  margin-bottom: 3em;
}

.recipe {
  font-family: $font-second-recipes;
  margin: 4em auto;
  @media #{$mediaDesktop, $mediaBigScreen} {
    margin: 7em auto;
  }

  .recipe-name-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;

    .recipe-name {
      text-align: center;
      @include fontSizes(2.5em);
      font-weight: bolder;
      color: $recipeNameColor;
    }

    .recipe-link {
      &:hover {
        text-shadow: 2px 2px 5px $shadowColor;
      }
    }

    .recipe-icon {
      margin-left: 1em;
      color: $problemsColor;
    }

    .addFavourite {

      &:hover {
        font-size: 1.5em;
        cursor: pointer;
      }
    }
  }


  .recipe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{ $mediaDesktop, $mediaBigScreen} {
      flex-direction: row;
    }
    width: 100%;
  }

  img {
    width: 70%;
    margin-bottom: 1.5em;

    @media #{$mediaDesktop} {
      width: 500px;
    }
    @media #{$mediaBigScreen} {
      width: 900px;
    }
    height: auto;
    box-shadow: 10px 10px 25px $shadowColor;
  }

  .recipe-text {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .shortDesc {
      @include fontSizes(1.35em);
      color: $descriptionColor;
      line-height: 1.2em;
    }

    .shortDesc-Ingred {
      color: $descriptionColor;
      @include fontSizes(1.1em);
      line-height: 1.2em;

      strong {
        color: $desctriptionStrongColor;
        font-weight: bolder;
      }
    }
  }

}

.recipe-longVersion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;

  ul {
    margin: 2em;
    line-height: 1.5em;
    color: $descriptionColor;
    @include fontSizes(1em);
  }

  strong {
    @include fontSizes(2em);
    font-weight: bolder;
    line-height: 2em;
    color: $desctriptionStrongColor
  }

  .longDesc {
    @include fontSizes(1.2em);
    color: $descriptionColor;
    padding-bottom: 2em;
    .prepareDesc {
      line-height: 1.5em;
    }

    .longDescParagraph {
      margin: 0.5em auto;
    }
  }
  .button-box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
//button styling included in base.scss

.single-category {
  margin-bottom: 0;
}


