.searchBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  font-family: $font-base-landingPage;

  span{
    font-size: 2em;
    line-height: 1.5em;
    font-family: $font-second-recipes;
  }
  p{
    font-family: $font-second-recipes;
    font-size: 1.2em;
    line-height: 1.5em;
  }

}

.no-recipe{
  display: flex;
 flex-direction: column;
  align-items: center;
  margin: 1.5em auto;


  span{
    font-size: 2em;
    line-height: 1.7em;

  }
  p{
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;

  }


}