@mixin fontSizes($base-font-size){
  font-size: $base-font-size * 0.6;
  @media #{$mediaTablet} {
    font-size: $base-font-size*0.8;
  }
  @media #{$mediaDesktop} {
    font-size: $base-font-size;
  }
  @media #{$mediaBigScreen} {
    font-size: $base-font-size*1.5;
  }}
