$descriptionColor:rgba(80, 82, 88, 0.63);
$desctriptionStrongColor:rgba(80, 82, 88, 0.93);
$recipeNameColor:#505258;
$backgroundNavColor: rgba(176, 198, 191, 0.3);
$categoryNameColor:rgba(105, 140, 129, 0.92);
$footerAccent:rgba(80, 82, 88, 0.93);
$titleShadowColor:rgba(90, 87, 96, 0.45);
$titleColor:gray;
$titleAccentColor:lightcoral;
$problemsColor:#9d5661;
$darkPinkAccents: #63363d;
$shadowColor: rgba(80, 82, 88, 0.5);
$editIconColor: rgba(214, 110, 5, 1);