$font-base-landingPage: 'Sacramento', cursive;
$font-second-recipes:'Courgette', cursive;
$font-footer:$font-second-recipes;
$font-placeholders:$font-second-recipes;

//$searchBox-font:'Alex Brush', cursive;